* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 47rem;
  background-image: url(./imagens/background_image.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

header .container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  display: inline;
}

header ul {
  margin-right: 100px;
}

header li a {
  color: white;
  margin-left: 38px;
  font-size: 30px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  transition: border-bottom 0.3s ease-out;
}

header li a:hover {
  border-bottom: solid 4px rgb(23, 225, 131);
}

.container > h1 {
  margin-left: 100px;
  font-size: 75px;
  font-weight: bold;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #fff;
  color: #050000;
  font-family: "Helvetica Neue", sans-serif;
}

#hero {
  padding: 200px 0;
  text-align: center;
}

#hero h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}

#hero .cta {
  background-color: #15bc6e;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  border-radius: 50px;
  font-weight: bold;
  padding: 40px 45px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#hero .cta:hover {
  background-color: #0e6914;
}

#protagonist {
  height: 75rem;
  width: 100%;
}

.section-1 {
  display: flex;
  padding: 10px 0;
  gap: 10px;
}

.position {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.link {
  position: relative;
}

.link img {
  max-width: 600px;
  position: absolute;
  top: 200px;
  left: 19px;
}

.circle {
  position: absolute;
  top: 10rem;
  left: -550px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #15bc6e;
}

.texto {
  display: flex;
  max-width: 1000px;
  font-size: 30px;
  padding-left: 300px;
  padding-top: 15rem;
  align-items: flex-start;
}

.protagonista {
  font-size: 80px;
  color: #15bc6e;
  line-height: 69px;
}

.texto p {
  padding-top: 80px;
  text-align: left;
  position: relative;
}

section#games {
  height: 80rem;
  padding: 250px 0;
}

#games h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 50px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.articles img {
  width: 260px;
  height: 260px;
  margin: 40px;
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
}

.articles img:hover {
  opacity: 0.5;
}

section#history {
  margin-top: 100px;
}

#history {
  display: flex;
}

.triforce img {
  height: 500px;
  margin-left: 50px;
}

.historia {
  margin-left: 100px;
}

.historia > h3 {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.resumo {
  font-size: 15px;
  display: flex;
  max-width: 900px;
  font-size: 30px;
  margin-top: 5rem;
}

#history .cta {
  background-color: #15bc6e;
  border: none;
  color: #fff;
  margin: 25px;
  display: inline-block;
  font-size: 25px;
  border-radius: 50px;
  font-weight: bold;
  padding: 20px 25px;
  margin-left: 360px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#history .cta:hover {
  background-color: #0e6914;
}

#contact {
  display: flex;
  padding: 250px 0;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 200px;
  border: solid green;
  align-items: center;
  width: 300px;
  background-image: url(./imagens/background_image.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

form h3 {
  font-size: 50px;
  margin-bottom: 50px;
}

input {
  width: 300px;
  margin: 5px 0px;
  height: 35px;
  padding: 10px;
}

form textarea {
  width: 300px;
  height: 60px;
  resize: none;
}
